<template>
  <header>
    <h2>My To-Do List</h2>
  </header>
</template>

<script>
export default {
  name: 'MyHeader'
}
</script>

<style scoped>
  header {
    margin-top: 30px;
    background-color: #bdc3c7;
    padding: 25px;
    border-radius: 5px;
  }
</style>
