<template>
  <div id="todos">
    <todo-create/>
    <div v-for="(todo, index) in todos" :key="index">
      <todo-item :data="{id: index, ...todo}"/>
    </div>
    <todo-item :data="{content: '', title: 'Nenhuma todo adicionada'}" v-if="this.todos.length === 0"/>
  </div>
</template>

<script>
import TodoCreate from './TodoCreate'
import TodoItem from './TodoItem'
import { mapState } from 'vuex'

export default {
  name: 'TodoList',
  components: {
    TodoItem,
    TodoCreate
  },
  computed: {
    ...mapState({
      todos: state => state.todos
    })
  },
  data () {
    return {}
  }
}
</script>

<style scoped>
#todos {
  margin-top: 15px;
}
</style>
