<template>
  <div id="todo" @click.stop="toggleContent">
    <div id="header">
      <input type="text" v-model="updateValue" id="edit" ref="edit" :readonly="readOnly" @keypress.enter="update">
      <div id="actions">
        <button @click.prevent.stop="edit">
          <v-icon name="regular/edit"/>
        </button>
        <button @click.prevent.stop="remove">
          <v-icon name="regular/trash-alt"/>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TodoItem',
  data () {
    return {
      hideContent: true,
      readOnly: true,
      updateValue: this.data.title
    }
  },
  methods: {
    toggleContent (e) {
      this.hideContent = !this.hideContent
    },
    edit () {
      this.readOnly = false
      console.log(this.$refs.edit.focus())
    },
    update () {
      this.$store.commit('update', { id: this.data.id, payload: this.updateValue })
      this.readOnly = true
    },
    remove () {
      this.$store.commit('remove', this.data.id)
    }
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
#edit {
  flex-grow: 2;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#todo {
  width: 100%;
  background-color: #95a5a6;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 5px;
}

#header {
  display: flex;
  justify-content: space-between;
}

#content {
  margin-top: 5px;
}

#actions button {
  padding: 3px;
  color: #34495e;
  background-color: transparent;
  border: none;
  outline: none;
}

#actions button:hover {
  color: #2c3e50;
  cursor: pointer;
}

#todo:hover {
  background-color: #7f8c8d;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  cursor: pointer;
}
</style>
