<template>
  <div id="create">
    <input type="text" placeholder="Inserir nova to-do" v-model="todo" @keypress.enter="addTodo" autofocus />
    <button @click.prevent.stop="addTodo">
      <v-icon name="plus"/>
    </button>
  </div>
</template>

<script>
export default {
  name: 'TodoCreate',
  data () {
    return {
      todo: ''
    }
  },
  methods: {
    addTodo () {
      this.$store.commit('add', this.todo)
      this.todo = ''
    }
  }
}
</script>

<style scoped>
#create {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: #95a5a6;
  padding: 15px;
  border-radius: 3px;
  height: 60px;
}

input, button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px;
}

input {
  flex-grow: 2;
  border-bottom: 1px solid rgba(127, 140, 141, .7);
  padding-left: 0;
}

input:focus {
  border-color: rgba(127, 140, 141, 1);
}

button {
  color: #34495e;
}

button:hover {
  color: #2c3e50;
  cursor: pointer;
}
</style>
