<template>
  <div id="app">
    <MyHeader/>
    <TodoList/>
  </div>
</template>

<script>
import MyHeader from './components/MyHeader'
import TodoList from './components/TodoList'

export default {
  name: 'app',
  components: {
    MyHeader,
    TodoList
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

body{
  background-color: #ecf0f1;
}

#app {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
}
</style>
